---
layout: splash
permalink: /
header:
  overlay_color: "#C0C0C0"
  overlay_image: /assets/images/natbridge_banner.jpg
  actions:
    - label: "<i class='fas fa-download'></i> Install Now"
      url: "/docs/quick-start-guide/"
  caption:
excerpt: 'Combine the power of ArcGIS and R to solve your spatial problems.<br /> <small><a href="https://github.com/R-ArcGIS/r-bridge">Latest release</a></small><br /><br /> {::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=R-ArcGIS&repo=r-bridge&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=R-ArcGIS&repo=r-bridge&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
feature_row:
  - image_path: /assets/images/icon_analysis_rect.png
    alt: "customizable"
    title: "Deepen your analytics powers"
    excerpt: "By using the ArcGIS-R bridge, you can create geoprocessing scripts which use the vast collection of tools available in the R statistical langauge."
    url: "/get-started/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/icon_tutorial_rect.png
    alt: "fully responsive"
    title: "Tutorials"
    excerpt: "Get started by working through complete tutorials"
    url: "/resources/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
  - image_path: /assets/images/icon_documentation_rect.png
    alt: "100% free"
    title: "Documentation"
    excerpt: "There is a lot of documentation available for you to learn."
    url: "/resources/#documentation/"
    btn_class: "btn--primary"
    btn_label: "Learn More"
github:
  - excerpt: '{::nomarkdown}<iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=R-ArcGIS&repo=r-bridge&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe> <iframe style="display: inline-block;" src="https://ghbtns.com/github-btn.html?user=R-ArcGIS&repo=r-bridge&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe>{:/nomarkdown}'
intro:
  - excerpt: 'See the latest on GitHub &nbsp; [<i class="fab fa-github"></i> @R-ArcGIS](https://github.com/R-ArcGIS){: .btn .btn--github} '
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include video id="i6Pc8SwWpyM" provider="youtube" %}